---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - a8628f9936a747e7e50ee082e2170d86
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-3qgr,haproxy-edge-pdx-l129
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C0165N9BX3M","name":"general","is_channel":true,"is_group":false,"is_im":false,"created":1593234571,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"general","is_shared":false,"parent_conversation":null,"creator":"U01644Z7NG5","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T016J51T03T"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        *channel* is for working on a project. Hold meetings, share docs, and make
        decisions together with your team.","creator":"U01644Z7NG5","last_set":1593234571},"previous_names":["project"],"num_members":105},{"id":"C0165NC8LHH","name":"fur-babes","is_channel":true,"is_group":false,"is_im":false,"created":1593235051,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"fur-babes","is_shared":false,"parent_conversation":null,"creator":"U01644Z7NG5","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T016J51T03T"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"Pet
 [...]
