---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - f615f1d893f7abdc61057c85cca969d8
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-qv4q,haproxy-edge-iad-typq
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01C0H7R9QS","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1601942208,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C0H7QZRQ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BXELVD8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"various
        topics","creator":"U01C0H7QZRQ","last_set":1602043063},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01C0H7QZRQ","last_set":1601942208},"previous_names":[],"num_members":3},{"id":"C01C6NZ3KLL","name":"slack-cli-project","is_channel":true,"is_group":false,"is_im":false,"created":1601942349,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slack-cli-project","is_shared":false,"parent_conversation":null,"creator":"U01C0H7QZRQ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BXELVD8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{[...]
