---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 3966567be7d0efead4cd3bb8c8ca7a04
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-28oy,haproxy-edge-iad-08cr
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T01BXELVD8D","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T01BXELVD8D"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U01C0H7QZRQ","team_id":"T01BXELVD8D","name":"pbui17","deleted":false,"color":"9f69e7","real_name":"Tram
        Bui","tz":"America\/Chicago","tz_label":"Central Daylight Time","tz_offset":-18000,"profile":{"title":"","phone":"","skype":"","real_name":"Tram
        Bui","real_name_normalized":"Tram Bui","display_name":"Tram","display_name_normalized":"Tram","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"g93349d4714f","first_name":"Tram","last_name"[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 2ed6f407d66080a96bde5c0597444fdd
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-75m7,haproxy-edge-iad-l7zt
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01C0H7R9QS","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1601942208,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C0H7QZRQ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BXELVD8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"various
        topics","creator":"U01C0H7QZRQ","last_set":1602043063},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01C0H7QZRQ","last_set":1601942208},"previous_names":[],"num_members":3},{"id":"C01C6NZ3KLL","name":"slack-cli-project","is_channel":true,"is_group":false,"is_im":false,"created":1601942349,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slack-cli-project","is_shared":false,"parent_conversation":null,"creator":"U01C0H7QZRQ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BXELVD8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{[...]
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 8177b4857f50af00e2b5956edddb1206
      X-Oauth-Scopes:
      - chat:write,users:read,channels:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-dqm5,haproxy-edge-pdx-l129
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T016J51T03T","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_o[...]
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 9c07acdb604065be2f8a832109208ff9
      X-Oauth-Scopes:
      - chat:write,users:read,channels:read
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Typ[...]
