---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/bogus?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - e80561a7f2b326bc4254bdb85b51fcbf
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-tazm,haproxy-edge-iad-5k6j
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus"}'
  recorded_at: Sat, 10 Oct 2020 00:25:27 GMT
- request:
    method: get
    uri: https://slack.com/api/bogus?token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - e955944f2bdb1c9e2d90259ce050c94b
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-oppt,haproxy-edge-iad-oyb1
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus"}'
  recorded_at: Sat, 10 Oct 2020 00:25:27 GMT
recorded_with: VCR 6.0.0
