---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/conversations.list
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Accepted-Oauth-Scopes:
      - conversations:read
      X-Slack-Req-Id:
      - 06ff97bd7c53430ce170316b66318d97
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-oppt,haproxy-edge-iad-9739
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"not_authed"}'
  recorded_at: Fri, 09 Oct 2020 18:20:49 GMT
- request:
    method: get
    uri: https://slack.com/api/conversations.list?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - f0d41f9adc5fbb04bd3254ac8bc5a333
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-ouwk,haproxy-edge-iad-vpnz
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C01C0H7R9QS","name":"random","is_channel":true,"is_group":false,"is_im":false,"created":1601942208,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"parent_conversation":null,"creator":"U01C0H7QZRQ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BXELVD8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{"value":"various
        topics","creator":"U01C0H7QZRQ","last_set":1602043063},"purpose":{"value":"This
        channel is for... well, everything else. It\u2019s a place for team jokes,
        spur-of-the-moment ideas, and funny GIFs. Go wild!","creator":"U01C0H7QZRQ","last_set":1601942208},"previous_names":[],"num_members":3},{"id":"C01C6NZ3KLL","name":"slack-cli-project","is_channel":true,"is_group":false,"is_im":false,"created":1601942349,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"slack-cli-project","is_shared":false,"parent_conversation":null,"creator":"U01C0H7QZRQ","is_ext_shared":false,"is_org_shared":false,"shared_team_ids":["T01BXELVD8D"],"pending_shared":[],"pending_connected_team_ids":[],"is_pending_ext_shared":false,"is_member":true,"is_private":false,"is_mpim":false,"topic":{[...]
- request:
    method: get
    uri: https://slack.com/api/bogus?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - f046ae53cb14369dc3c6159290e11dfc
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-eips,haproxy-edge-iad-fjp2
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus"}'
  recorded_at: Fri, 09 Oct 2020 18:26:58 GMT
- request:
    method: get
    uri: https://slack.com/api/bogus?token=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 57ba9ee0ae0b34119474206ca08a013e
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-k2o1,haproxy-edge-iad-y6rs
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"bogus"}'
  recorded_at: Fri, 09 Oct 2020 18:27:58 GMT
recorded_with: VCR 6.0.0
