---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/users.list?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 40ea09b5a1d338414be4b067f6ac2707
      X-Oauth-Scopes:
      - identify,channels:read,users:read,chat:write
      X-Slack-Backend:
      - r
      X-Accepted-Oauth-Scopes:
      - users:read
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-i59g,haproxy-edge-pdx-vs95
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T016J51T03T","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-25200,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T016J51T03T"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0},{"id":"U015QQ2BXFZ","team_id":"T016J51T03T","name":"jane","deleted":false,"color":"4bbe2e","real_name":"Jane
        Park","tz":"America\/Los_Angeles","tz_label":"Pacific Daylight Time","tz_offset":-25200,"profile":{"title":"Program
        Coordinator","phone":"","skype":"","real_name":"Jane Park","real_name_normalized":"Jane
        Park","display_name":"Jane Park","display_name_normalized":"Jane Park","fields":null,"status_text":"","status_emoji":":she:","status_expiration":0,"avatar_hash":"c942d26bc75b","image_original":"https:\/\/avatars.slack-edge.com\/2020-07-10\/1233881619349_c942d26bc75b8df64fad_original.png","is_custom_image":true,"first_name":"Jane","last_name":"Park","image_24":"https:\/\/avatars.slack-edge.com\/2020-07-10\/1233881619349_c942d26bc75b8df64fad_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2020-07-10\/1233881619349_c942d26bc75b8df64fad_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2020-07-10\/1233881619349_c942d26bc75b8df64fad_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2020-07-10\/1233881619349_c942d26bc75b8df64fad_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2020-07-10\/1233881619349_c942d26bc75b8df64fad_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2020-07-10\/1233881619349_c942d26bc75b8df64fad_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2020-07-10\/1233881619349_c942d26bc75b8df64fad_1024.png","status_text_canonical":"","team":"T016J51T03T"},"is_admin":true,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1595262474},{"id":"U015R3MCAFR","team_id":"T016J51T03T","name":"lisa","deleted":false,"color":"e0a729","real_name":"lisa","tz":"America\/Los_Angeles","tz_label":"Pacific
        Daylight Time","tz_offset":-[...]
- request:
    method: get
    uri: https://slack.com/api/no_one_lives_here?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html; charset=utf-8
      X-Via:
      - haproxy-www-ecy5,haproxy-edge-pdx-k9dj
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+PGh0bWwgbGFuZz0iZW4t[...]
- request:
    method: get
    uri: https://slack.com/api/users.no_one_lives_here?token=<LOCATIONIQ_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      X-Slack-Backend:
      - r
      Content-Type:
      - text/html; charset=utf-8
      X-Via:
      - haproxy-www-cv6x,haproxy-edge-pdx-1350
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        PCFET0NUWVBFIGh0bWw+PGh0bWwgbGFuZz[...]
